SAP_URL=http://172.17.19.24:8000
SAP_SERVICE_PATH=/sap/opu/odata/sap/ZEMPLOYEE_NEW_SRV/
SAP_USER=your_username
SAP_PASSWORD=your_password
SAP_CLIENT=100
SAP_TIMEOUT_MS=30000
PORT=4000
PAYSLIP_MAIL_FROM=your_gmail_address@gmail.com
PAYSLIP_MAIL_TO=recipient@example.com
GMAIL_APP_PASSWORD=your_gmail_app_password
